*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

html {
  font-family: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}